<div class="tb">
    <form action="" method="POST" id="add_source_form" class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="source_type_select">
                Тип матеріалу
            </label>

            <div class="controls">
                <select id="source_type_select" name="source_type_select">
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="source_fields"></div>

        <div class="control-group">
            <div class="controls">
                <button id="submit_source" class="btn btn-info">
                    {% block submit_button %}
                        Додати джерело
                    {% endblock %}
                </button>
            </div>
        </div>

        <p id="msg"></p>
    </form>

</div>