<div id="dialog">
    <form action="/index/login" id="login_form" class="form-horizontal">
        <div class="input_row">
            <div class="label"> <label for="login">Логін:</label></div>
            <input type="text" id="login">
        </div>

        <div class="input_row">
            <div class="label"> <label for="password">Пароль:</label></div>
            <input type="password" id="password">
        </div>

        <div class="submit">
            <button id="submit">Увійти</button>
        </div>
    </form>

    <div id="error_msg"></div>

</div>
