<div id="left">
    <div id="search_area">
        <h3>Пошук за базою джерел:</h3>

        <form>
            <input type="text" value="Введіть назву чи автора для пошуку" id="search">
        </form>

        <div id="result">
        </div>
    </div>
</div>



