{% for field in fields %}

    <label>
        <div class="source_fields_label">{{ field.label }}:</div>
    {% if field.type == 'text' %}
        <textarea name="{{ field.id }}" class="source_textarea"></textarea>
    {% else %}
        <input type="text" name="{{ field.id }}" val="{{ field.type }}" class="source_input">
    {% endif %}

    </label>
{% endfor %}