<div class="tb">

    {% if templates|length > 0 %}
        <a href="/admin/addTemplate" class="add_template">Додати шаблон</a>

        <table class="content_table" id="ctb">
            <tr class="temp_head">
                <th class="no">№</th>
                <th class="name">Назва шаблону</th>
                <th class="mod">Змінений</th>
                <th class="del">Видалити</th>
            </tr>

            {% for template in templates %}
                <tr class="temp_table">
                    <td>

                    </td>

                    <td>
                        <a class="edit_template" href="admin/editTemplate?id={{ template.id }}">{{ template.name }}</a>
                    </td>

                    <td>
                        {{ template.change_data }}
                    </td>

                    <td class="td_rm_templ">
                        <a class="rm_template" href="admin/deleteTemplate?id={{ template.id }}"></a>
                    </td>
                </tr>

            {% endfor %}

        </table>

        <div id="wrn" style="display: none">Увага! При видаленні шаблону видалиться відповідна таблиця з усіма даними. Ви дійсно хочете це зробити?</div>

    {% else %}
        <div>
            <div class="nothing">
                <p class="noth_msg">У системі поки що немає шаблонів.</p>
                <p class="noth_msg"><a href="/admin/addTemplate" class="add_template">Додати шаблон</a></p>
            </div>
        </div>
    {% endif %}

</div>

<script>
    $('table tbody tr').each(function (i) {
        $(this).find('td:first').text(i);
    });
</script>